# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Model Artifacts Path
MODEL_DIR=models

# API Service Configuration
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
DEBUG=False

# Streamlit Configuration
API_URL=http://localhost:8000
